/* general  */


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'Montserrat', sans-serif;
    color: #717171;

}

#totalecontainer {

    height: 100vw;
    width: 100vw;

}

.focussed {

    color: white;

}

a {

    text-decoration: none;
    color: #717171;
    
}

.flex {

    display: flex;
    align-items: center;

}

ul {

    list-style: none;

}

.margin20{

    margin: 20px;

}


/* web app rules  */

.flex-container {

    display: flex;

}


#mainsection {

    background-color: #141922;
    width: calc(100% - 230px);

}


.heightvh {
   
    height: calc(100vh - 70px);
    
}



#player {

    background-color: #282828;
    height: 70px;

}

/* navigation  */

#navigation{

    background-color: #000000;
    width: 230px;
    overflow: auto;
    display: flex;
    flex-direction: column;

}


#logo {

    width: 135px;
    margin: 20px;

}


.left-menu-container {

    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 35px;

}

.icone {

    width: 25px;    
    margin-right: 5px;

}

#home {

    border-left: 2px solid greenyellow;
    padding-left: 20px;
    margin-left: -20px;

}

#smalllogo{

    padding: 8px;
    display: none;

}

li h3.focussed {

    margin: 15px 0;
    font-size: 0.9rem;

}

.plus{

    color: #a3a3a3;
    margin-right: 10px;

}

ul.margin20.none li {

    line-height: 35px;

}



.left-menu-down {

    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.fa-circle-down {

    margin-right: 5px ;

}

.line {

    border: 1px #717171 solid;
    margin: 10px 0;

}

#profile-img-cont {

    width: 20px;
    height: 20px;
    background-color: #6d6d6d;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 5px;

}

#profile-svg {

    max-width: 100%;

}

.playlist {

    overflow: auto;

}


@media  screen and (max-width: 350px) {


    /* navigation  */
    #navigation {

        width: 50px;
        display: flex;
        flex-direction: column;
      

    }

    .none {

        display: none;

    }

    #smalllogo {

        display: block;

    }

    .left-menu {

        text-align: center;
        margin: 0;

    }

    .left-menu-container {

        display: block;

    }

    .left-menu-down {

        height: 100%;
        align-items: center;

    }

    .fa-circle-down {

        margin-bottom: 16px;
        font-size: 0.7rem;

    }

    #home {

        border: 0px;
        padding: 0;
        margin: 0;

    }

    #mainsection {

        width: calc(100% - 50px);

    }
    
}