/* general  */


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'Montserrat', sans-serif;
    color: #717171;

}

#totalecontainer {

    height: 100vw;
    width: 100vw;

}

.focussed {

    color: white;

}

a {

    text-decoration: none;
    color: #717171;
    
}

.flex {

    display: flex;
    align-items: center;

}

ul {

    list-style: none;

}

.margin20{

    margin: 20px;

}

img {

    max-width: 100%;

}



/* web app rules  */

.flex-container {

    display: flex;

}


#mainsection {

    background-color: #141922;
    width: calc(100% - 230px);
    overflow: auto;

}


.heightvh {
   
    height: calc(100vh - 70px);
    
}



#player {

    background-color: #282828;
    height: 70px;

}

/* navigation  */

#navigation{

    background-color: #000000;
    width: 230px;
    overflow: auto;
    display: flex;
    flex-direction: column;

}


#logo {

    width: 135px;
    margin: 20px;

}


.left-menu-container {

    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 35px;

}

.icone {

    width: 25px;    
    margin-right: 5px;

}

#home {

    border-left: 2px solid greenyellow;
    padding-left: 20px;
    margin-left: -20px;

}

#smalllogo{

    padding: 8px;
    display: none;

}

.playlist-title {

    margin: 0 20px;
    font-size: 0.9rem;
    color: white;

}

.plus{

    color: #a3a3a3;
    margin-right: 10px;

}

ul.margin20.none li {

    line-height: 35px;

}



.left-menu-down {

    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.fa-circle-down {

    margin-right: 5px ;

}

.line {

    border: 1px #717171 solid;
    margin: 10px 0;

}

#profile-img-cont {

    width: 20px;
    height: 20px;
    background-color: #6d6d6d;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 5px;

}

#profile-svg {

    max-width: 100%;

}

.playlist {

    overflow: auto;
    height: 900px;

}

.centre {

    margin: 30px 20px;

}

.centre h2 {

    color: white;

}

.centre h4 {

    margin-top: 10px;
    font-size: 0.7rem;

}

.album-cont {

    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}

.album {

    width: 170px;
    line-height: 25px;
    margin: 0 10px;

}

.album h3 {

    color: white;
    text-align: center;

}

.album h4 {

    text-align: center;
    font-size: 0.7rem;

}

.album-radius {

    border-radius: 100%;
    overflow: hidden;

}

/* main section  */


.fixed-top {

    width: calc(100% - 230px);
    height: 90px;
    background-color: #080b1293;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 20; 
    
}

.button {

    border: white 2px solid;
    border-radius: 25px;
    color: white;
    font-size: 0.7rem;
    margin-right: 10px;

}

.button h3 {

    padding: 10px 40px;
    text-align: center;

}

.main-nav {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.main-nav li {

    margin-right: 12px;
    font-weight: 700;
    font-size: 0.8rem;

}

nav {

    margin-top: 110px;
    line-height: 25px;

}

.line-green{

    border-top: 2px greenyellow solid;
    width: 30px;
    margin: 0 auto;

}


@media  screen and (max-width: 530px) {


    /* navigation  */
    #navigation {

        width: 50px;
        display: flex;
        flex-direction: column;
      

    }

    .none {

        display: none;

    }

    #smalllogo {

        display: block;

    }

    .left-menu {

        text-align: center;
        margin: 0;

    }

    .left-menu-container {

        display: block;

    }

    .left-menu-down {

        height: 100%;
        align-items: center;

    }

    .fa-circle-down {

        margin-bottom: 16px;
        font-size: 0.7rem;

    }

    #home {

        border: 0px;
        padding: 0;
        margin: 0;

    }

    #mainsection {

        width: calc(100% - 50px);

    }

    .fixed-top {

        width: calc(100% - 50px);

    }
    
}